<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="LocalHost" value="127.0.0.2" />
    <add key="HostPortGarolla" value="5000" />
    <add key="IpServerGarolla" value="192.168.101.23" />
    <add key="IpServerCasa" value="192.168.1.177" />
    <add key="IpPort" value="3000" />
    <add key="Api_Path" value="/api/busdati" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <DataSender.Properties.Settings>
      <setting name="ServerIp" serializeAs="String">
        <value>192.168.101.53</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="ApiPath" serializeAs="String">
        <value>/api/busdati</value>
      </setting>
      <setting name="ServerIpCasa" serializeAs="String">
        <value>192.168.1.177</value>
      </setting>
    </DataSender.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>